/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.logo {
    padding: 10px;
  }
  
  .nav-item {
    padding: 10px 5px;
  }
  
  .my-menu {
    padding: 10px 5px;
  }
  
  .sign-up {
    padding: 10px 5px;
  }
  
  /* Layout 구현체 */
  .header {
    display: flex;
    /* 정렬 */
    justify-content: space-between;
  }
  
  .menu-left {
    display: flex;
  }
  
  .menu-right {
    display: flex;
  }
  
  .navigation {
    display: flex;
  }
  
  .my-menu {
    display: flex;
  }

  .main-title-area {
    display: flex;
    justify-content: space-between;  
    margin: 40px;
    padding-left: 200px;
    padding-right: 200px;
  }

  .large-text {
    margin-top: 5px;
    margin-bottom: 40px;
  }

  .filter {
    display: flex;
    justify-content: space-between;
  }

  .featured-section {
    display: flex;
    justify-content: space-between;  
    margin: 40px;
    padding-left: 200px;
    padding-right: 200px;
  }

  .course-list {
    display: flex;
    justify-content: space-around;  
    margin: 30px;
    padding-left: 200px;
    padding-right: 200px;
  }

  /* background, color, animation, font, text */

  .header {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', 'Helvetica Neue', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  }

  .logo {
    font-size: 18px;
    line-height: 20px;
  }

  .nav-item {
    color: rgba(0, 0, 0, 0.65);
    font-size: 14px;
  }

  .header {
    background: #101010;
    color: #aaa;
  }
  
  .header a {
    color: #aaa;
    text-decoration: none;
  }

  .small-text {
    color: #afafaf;
    font-weight: 500;
    line-height: 18px;
    font-size: 16px;
  }

  .large-text {
    color: rgba(0, 0, 0, 0.65);
    font-size: 30px;
    font-weight: 600;
  }
  
  .main {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', 'Helvetica Neue', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  }

  .course-section-title {
      color: rgba(0, 0, 0, 0.65);
      font-size: 30px;
      font-weight: 600;
  }


  /* card UI 1 */
  .course-card {
    position: relative;
    width: 250px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    overflow: hidden;
  }
  .course-card-title-area {
    display: flex;
    height: 130px;
    padding: 15px 10px;
    background: #2ac1bc;
  }
  .course-card-title-sub {
    color: #fff;
    opacity: 0.7;
    font-weight: 500;
    margin-bottom: 5px;
  }
  
  .course-card-title-main {
    font-size: 24px;
    line-height: 26px;
    font-weight: 700;
    color: white;
  }

  .course-card-title-badge {
    background: rgb(225, 116, 65);
    border-radius: 30px;
    padding: 5px;
    color: white;
    font-weight: 500;
    font-size: 12px;
  }
  
  .course-card-meta-area {
    display: flex;
    padding: 15px 0;
  }
  .course-card-meta-info {
    padding: 0 15px;
    text-align: center;
  }
  .course-card-meta-info-count {
    font-size: 24px;
    margin-bottom: 5px;
    font-weight: 400;
  }
  .course-card-meta-info-title {
    font-size: 12px;
    color: #666;
  }
  
  .course-card-play-area {
    position: absolute;
    right: 15px;
    bottom: 15px;
  }
  
  .course-card-play-button {
    position: relative;
    width: 60px;
    height: 60px;
    background: white;
    border: 3px solid #eee;
    border-radius: 50%;
    font-size: 0;
  }
  
  .course-card-play-button::after {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    background: #000;
    position: absolute;
    left: 20px;
    top: 20px;
  }
  
  .course-card-progress {
    margin-top: 15px;
    text-align: center;
    color: #666;
  }

  /* card UI 2 */
  .course-card-2 {
    position: relative;
    width: 250px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    overflow: hidden;
  }
  .course-card-title-area-2 {
    display: flex;
    height: 130px;
    padding: 15px 10px;
    background: #2ac1bc;
  }
  .course-card-title-sub-2 {
    color: #fff;
    opacity: 0.7;
    font-weight: 500;
    margin-bottom: 5px;
  }
  
  .course-card-title-main-2 {
    font-size: 24px;
    line-height: 26px;
    font-weight: 700;
    color: white;
  }
  
  .course-card-title-badge-2 {
    background: rgb(225, 116, 65);
    border-radius: 30px;
    padding: 5px;
    color: white;
    font-weight: 500;
    font-size: 12px;
  }
  
  .course-card-meta-area-2 {
    display: flex;
    padding: 15px 0;
  }
  .course-card-meta-info-2 {
    padding: 0 15px;
    text-align: center;
  }
  .course-card-meta-info-count-2 {
    font-size: 24px;
    margin-bottom: 5px;
    font-weight: 400;
  }
  .course-card-meta-info-title-2 {
    font-size: 12px;
    color: #666;
  }
  
  .course-card-play-area-2 {
    position: absolute;
    right: 15px;
    bottom: 15px;
  }
  
  .course-card-play-button-2 {
    position: relative;
    width: 60px;
    height: 60px;
    background: white;
    border: 3px solid #eee;
    border-radius: 50%;
    font-size: 0;
  }
  
  .course-card-play-button-2::after {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    background: #000;
    position: absolute;
    left: 20px;
    top: 20px;
  }
  
  .course-card-progress-2 {
    margin-top: 15px;
    text-align: center;
    color: #666;
  }

/* card UI 3 */
  .course-card-3 {
    position: relative;
    width: 250px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    overflow: hidden;
  }
  .course-card-title-area-3 {
    display: flex;
    height: 130px;
    padding: 15px 10px;
    background: #2ac1bc;
  }
  .course-card-title-sub-3 {
    color: #fff;
    opacity: 0.7;
    font-weight: 500;
    margin-bottom: 5px;
  }
  
  .course-card-title-main-3 {
    font-size: 24px;
    line-height: 26px;
    font-weight: 700;
    color: white;
  }
  
  .course-card-title-badge-3 {
    background: rgb(225, 116, 65);
    position: relative;
    left: 50px;
    border-radius: 30px;
    padding: 5px;
    color: white;
    font-weight: 500;
    font-size: 12px;
  }

  .course-card-meta-area-3 {
    display: flex;
    padding: 15px 0;
  }
  .course-card-meta-info-3 {
    padding: 0 15px;
    text-align: center;
  }
  .course-card-meta-info-count-3 {
    font-size: 24px;
    margin-bottom: 5px;
    font-weight: 400;
  }
  .course-card-meta-info-title-3 {
    font-size: 12px;
    color: #666;
  }
  
  .course-card-play-area-3 {
    position: absolute;
    right: 15px;
    bottom: 15px;
  }
  
  .course-card-play-button-3 {
    position: relative;
    width: 60px;
    height: 60px;
    background: white;
    border: 3px solid #eee;
    border-radius: 50%;
    font-size: 0;
  }
  
  .course-card-play-button-3::after {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    background: #000;
    position: absolute;
    left: 20px;
    top: 20px;
  }
  
  .course-card-progress-3 {
    margin-top: 15px;
    text-align: center;
    color: #666;
  }



  

  
